@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lobster&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lobster&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@theme {
  --font-inter: "Inter", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
  --font-lobster: "Lobster", cursive;
  --font-alan: "Alan Sans", sans-serif;
}
@import "tailwindcss";
/* Soft CSS Reset */
@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    @apply text-slate-50;
    font-weight: normal;
  }
  p,
  ul,
  ol,
  li,
  a {
    margin: 0;
    padding: 0;
    font-weight: normal;
    text-decoration: none;
    list-style: none;
    @apply text-slate-50;
  }
  body {
    margin: 0;
    line-height: 1.5;
    background-color: #335145;
    color: ;
  }
}
